.images__main-container {
  position: relative;
}

.left-pad {
  left: 2rem !important;
  display: none;

  @include respond(tablet) {
    display: inline-block;
  }
}

.right-pad {
  right: 2rem !important;
  display: none;
  @include respond(tablet) {
    display: inline-block;
  }
}

.images__main {
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;

  @include respond(tablet) {
    height: 34vh;
    border-radius: 0;
    object-fit: cover;
    cursor: auto;
  }
}

.images__thumbnail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 3rem;

  &-fig {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
  }

  &-caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $color-white, $alpha: 0.5);
    transition: opacity 0.4s;

    border-radius: 1rem;

    &:hover {
      opacity: 1;
    }
  }

  &-img {
    width: 100%;
    border-radius: 1rem;
  }
}
